/*=== Reset ===*/

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
}

.hidden {
  display: none!important;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}


/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
}

.body-text {
  font: lighter 0.8rem 'Open Sans';
}

.title-label, .body-label {
  color: #242342;
  align-self: flex-end;
  font-size: 0.8rem;
  font-weight: bold;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 380px;
}

.starred-ideas {
  padding: 10px;
}

/*=== main section ===*/

.blanket {
  height: 230%;
  width: 100%;
  z-index: 3;
  position: absolute;
  background-color: #686872;
  opacity: 0.7;
}

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
  padding: 10px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 10px;
  margin-bottom: 10px;
}

.title-label {
  grid-row: 1;
  grid-column: 1;
}

.body-label {
  grid-row: 3;
  grid-column: 1;
}

.idea-form-title {
  grid-row: 2;
  grid-column: 1;
  border: 1px solid #7676B6;
  border-radius: 2px;
}

.idea-form-body {
  grid-row: 4 / 6;
  grid-column: 1;
  border: 1px solid #7676B6;
  border-radius: 2px;
}

.idea-form-button {
  grid-row: 6;
  grid-column: 1;
  border: 1px solid #7676B6;
  border-radius: 2px;
  color: #E9E9F3;
  background-color: #353567;
  height: 30px;
}

.search-bar {
  display: flex;
}

.search-icon {
  width: 10%;
  padding: 5px;
  background-color: #353567;
  border: 1px solid #7676B6;
  border-right: 0;
  border-radius: 2px 0 0 2px;
}

.search-input {
  border: 1px solid #7676B6;
  border-left: 0;
  font-size: 0.6rem;
  border-radius: 0 2px 2px 0;
  width: 100%;
  padding: 3px;
}

.search-input:focus {
  outline: none;
}

.idea-card {
  border: 1px solid #6E646B;
  margin-bottom: 15px;
}

.idea-card-header {
  background-color: #201F3D;
  display: flex;
  justify-content: space-between;
}

.idea-card img {
  width: 10%;
}

.idea-card-body {
  padding: 10px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #6E646B;
  border-top: 1px solid #6E646B;
}

.idea-card-body p {
  color: #1f1f3D;
}

.idea-title {
  margin-bottom: 10px;
}

.idea-card-footer {
  background-color: #5356A4;
  color: #FFFFFF;
  display: flex;
}

.idea-card-footer p {
  font-size: 0.6rem;
  align-self: center;
}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 18px;
    padding: 10px;
  }

  .menu, .menu-dropdown {
    height: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .menu-dropdown {
    height: 110px;
    z-index: 5;
    position: absolute;
    flex-direction: column;
  }

  .menu-dropdown p {
    text-align: left;
  }

  .hamburger-icon {
    width: 25px;
    position: absolute;
    left: 2%;
    top: 25%;
  }

  .menu-close-icon {
    width: 25px;
    position: absolute;
    left: 2%;
    top: 7%;
  }

  .starred-ideas {
    padding: 10px;
    color: #A9AAD2;
  }

  .starred-ideas-text {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 0.6rem;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
  }

  .show-starred-ideas {
    width: 100%;
    color: white;
    border: 1px solid #1F1F3D;
    border-radius: 2px;
  }

  .header-text {
    align-self: center;
  }

  .idea-form {
    flex-grow: 1;
    padding: 15px 10px;
  }
}
